# Auto detect text files and perform LF normalization
* text=auto
# Track video files with Git LFS
*.mov filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.avi filter=lfs diff=lfs merge=lfs -text
*.mkv filter=lfs diff=lfs merge=lfs -text
*.webm filter=lfs diff=lfs merge=lfs -text
*.mp4 !text !filter !merge !diff
*.mov !text !filter !merge !diff
*.avi !text !filter !merge !diff
*.mkv !text !filter !merge !diff
*.webm !text !filter !merge !diff
